//variales
$padding-section:10px;
$border-top: 1px solid rgb(48, 48, 48);
$border-bottom: 1px solid rgb(48, 48, 48);
$border-right:1px solid rgb(48, 48, 48);

//colors
$primary-light: #CCB9BC;
$primary-dark: #413A41;
$color-font: #2f2c2f;
$ternary: #898989;
$light: #f2f2ff;
$primary-bg: #F8F7F7;
$turquoise:#38C5CE;

html {
    position: relative;
}

body{    
    padding-bottom: 200px;
    min-height: 100vh;
    background-color:$primary-bg;
    color:$color-font ;
}

button{
    color: white !important;
    background-color: $turquoise !important;
    border: 1px solid white !important;
    &:hover{
        color: $turquoise !important;
        border:1px solid $turquoise!important;
        background-color: white !important;
    }

    &:focus{
        box-shadow: none!important;
    }
}
footer {
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    height: 150px;
    padding: 0 20px 20px 0;
    color: white;
    background-color: $primary-dark;
}

section {
    padding-top: $padding-section;
}
// NAVBAR
header {
    .bg-light {
        padding:20px 30px 20px 30px;
    }
    nav {
        color: white;
        background-color: $primary-dark;   
        .container-fluid {
            padding-left:0;
            padding:30px 30px 30px 30px;
            a {
            color: white !important;
                &:active{
                color: white !important;
               }
               &:hover{
                color:$turquoise !important;
                background-color: darken !important;
               }
            }
        }
    }    
}
// INDEX 
    // imagen presentacion
    section {
        padding-top: 0px;
        div {
            div {
                .text-image-index {
                    text-align: left;
                    h1{
                        font-size: 2rem;
                    }
                    p.phrase{
                        font-size: 3.75rem;
                    }
                    .text-item{
                        font-size: 1rem;
                    }
                }
            }
        }
    }


    //sobre mi
    .bg-sobre-mi {
        .card{
            border:none;
            background-color: $primary-bg !important;

        }
    }   

    //Servicios
    
     section{     
        .border-top-bottom-right {
            border-top:$border-top;
            border-bottom:$border-bottom;
            div {
                border: none;
                background-color:transparent;
                .border-right {
                    border-right:$border-right;
                    
                }
                .card-body {
                    padding: 50px;
                    div {
                        width:30px;                        
                    }
                }
            }
        }    
         //Algunas problemáticas
        .max-width-section-lista{
        max-width: 850px;
        div {
           ul {
            .list-style{
                margin-top:3px ;
                margin-bottom:3px;
            }
           } 
        }
       }

    }
    // tablets, less than 992px
    @media (max-width: 991.98px) { 
        section {
            .border-top-bottom-right {
                div {
                    .border-right {
                        border-bottom:$border-bottom;
                        border-right: none;
                        
                    }
                }
            }
            .card-group.responsive-card {
                flex-direction: column;
            }
            .lista-responsive{
                flex-direction: column;
            }
            .max-width-section-lista{
                max-width: 350px;
            }

        }    
    }   
       //Primera sesión gratuita
    section {   
        .padding-sesion-gratuita {
            padding: 100px;
        }
    }

    //Formulario 
    section {
        .container-form {
            justify-content: center;
            max-width: 1000px;
            margin: auto;
            .redes-form {
                display: flex;
                flex-direction: column;
                justify-content:  center;
                align-items: center;
                width: 200px;
                border-right: $border-right;
                padding-right: 50px;
                text-align: right;

            }
            .formulario{
                margin-left:50px;
                div {
                    .form-control {
                        border: none;
                        border-bottom:$border-bottom;
                        border-radius: 0;
                    }
                }
            }
        }        
    }

    // tablets, less than 992px
    @media (max-width: 991.98px) { 
        section {
            .container-form {
                flex-direction: column;
                .redes-form {
                    flex-direction: row;
                    justify-content:center;
                    border-right:0;
                    border-bottom: $border-bottom;
                    width: 100%;
                    padding-right: 0;
                    p {
                        margin-left: 5px;
                    }
                }
                .formulario{
                    margin-left:0;
                }
            }        
       }
    }   



    